---
import "../css/main.css"
import Boxes from "../components/boxes.astro"
import Facts from "../components/facts.astro"
import Steps from "../components/steps.astro"
import Process from "../components/process.astro"
import Olena from "../components/olena.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
