---

---

<div class="box">
    <div class="sewline">
        <div class="card">
            <div class="front">
                <img src="/facts_graphics/heart_icon.svg" alt="heart icon">
                <p>WUHUU</p>
            </div>
            <div class="back">
                <img src="/facts_graphics/heart_icon.svg" alt="heart icon">
                <p>WHAT?AAAAAAAAA</p>
            </div>
        </div>
    </div>
</div>

<style>

.box {
  /* background-color:var(--grey);
  width: 547px;
  height: 507px;
  align-content: center;
  border-radius: 5px;
  cursor: pointer;
  border: dashed var(--red) 7px; */
width: 40%;
height: 350px;
  padding: 20px;
   margin: 15px 0;
   background: rgba(120, 157, 178, 0.2);
   color:var(--blueD);
   font-size: 35px;
   font-weight: normal;
   border: 4.5px dashed var(--red);
   border-radius: 10px;
   box-shadow: 0 0 0 4px rgba(120, 157, 178, 0.2);

   cursor: pointer;
}


img {
  width: 10%;
  height: auto;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.box.active .card {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
}

.back {
  transform: rotateY(180deg);
}
</style>

<script>
    let card = document.querySelector('.box');

card.addEventListener('click', function() {
  
  if(card.classList.contains('active')) { 
    card.classList.remove('active');
  }
  else {
    card.classList.add('active');
  }
});
</script>