---
import Boxes from "../components/boxes.astro";

const {pTextT} = Astro.props;
const {pTextB} = Astro.props;
---

<div class="facts">
<div id="facts_background">
    <div id="position">
    <img class="top" src="/facts_graphics/top.svg" alt="top graphic">
    <Boxes pTextT="Hvilket tekstil udleder 3 gange så meget CO2 som uld?" pTextB="Polyester udleder 3 gange så meget CO2 som uld."/>
    <img class="clickable1" src="/facts_graphics/clickable1.svg" alt="clickable graphic">
    <Boxes pTextT="Hvor meget tøj kasseres årligt på global plan?" pTextB="Cirka 677 tons nyt tøj bliver smidt ud hvert år. 95% af alt det tøj, som smides ud, kunne godt have blevet genbrugt."/>
    <Boxes pTextT="Hvor mange % udgør tøjindustrien af verdens drivhusgasser?" pTextB="8%"/>
    <img class="clickable2" src="/facts_graphics/clickable.svg" alt="clickable graphic" loading="lazy">
    <img class="bottom" src="/facts_graphics/bottom.svg" alt="bottom graphic" loading="lazy">
    <img class="blob" src="/facts_graphics/blobbund.svg" alt="blob background graphic">
    </div>
</div>
</div>

<style>
    .facts {
    width: 100%;
    aspect-ratio: 390/1153;
    position: relative;
    overflow: hidden;
    container-type: inline;
  }

     #facts_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image:url(/facts_graphics/sewlinem.svg);
    }
    
    #position {
      position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        top: 10%;
    }

    .top, .bottom {
      margin: auto;
    width: 60%;
    height: auto;
     padding: 30px 0;
    z-index: 1;
     filter: drop-shadow(0 0 0.9rem white);
}
.clickable1 {
    position: absolute;
    width: 14%;
    height: auto;
       top: 20%;
    right: 20%;
   animation: klik_puls 1.5s ease-in-out infinite;
     transform: scaleX(-1);
}

.clickable2 {
    position: absolute;
    width: 14%;
     top: 47%;
    right: 65%;
    height: auto;
   animation: klik_puls 1.5s ease-in-out infinite;
     transform: scaleX(-1);
}

/* Vha. Chatgpt */
@keyframes klik_puls {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.blob {
  z-index: -1;
}

@media (min-width: 800px) {
    .facts {
    width: 100%;
    aspect-ratio: 1512/3561;
    position: relative;
    overflow: hidden;
    container-type: inline;
  }

     #facts_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image:url(/facts_graphics/sewline.svg);
    }

   .top, .bottom {
    margin: auto;
    width: 50%;
    height: auto;
    padding: 5% 0;
}

.clickable1 {
    width: 9%;
    height: auto;
    top: 18%;
    right: 25%;
}
.clickable2 {
    width: 9%;
    height: auto;
    top: 38%;
    left: 26%;
}
}
</style>