---
import Boxes from "../components/boxes.astro";
---

<div id="facts_background">
    <img src="/facts_graphics/top.svg" alt="topgraphic">
    <Boxes />
    <img src="/facts_graphics/bottom.svg" alt="bottomgrphic">
</div>
