---

---

<div id="facts background">
    <img src="../../public/facts_graphics/top.svg" alt="topgraphic">
    <Boxes id="back" p="Polyester udleder 3 gange så meget CO2 som uld." />
    <img src="../../public/facts_graphics/bottom.svg" alt="bottomgrphic">
</div>