---

---

<div id="facts background">
    <img src="../../public/facts_graphics/top.svg" alt="topgraphic">
    <div class="boxes">
        
    </div>
    <img src="../../public/facts_graphics/bottom.svg" alt="bottomgrphic">
</div>