---

---

<footer>
  <div class="container">
    <div class="content">
      <p class="p_footer">
        TEKST:<br /> EMILY NIELSEN <br /><br />VISUEL FORMIDLING:<br /> MIV BERG,
        MELINA GRAFF, LAURA NIELSEN OG EMILY NIELSEN <br /><br />KODE:<br /> MIV
        BERG, MELINA GRAFF, LAURA NIELSEN OG EMILY NIELSEN <br /><br />REDAKTØR:
        MIV BERG, MELINA GRAFF,<br /> LAURA NIELSEN OG EMILY NIELSEN <br /><br
        />UDGIVET: 24. April 2024 <br /><br />BILLEDeKILDER: FOTOS AF LOKATIONER<br
        />
        FRA I TRÅD MED VERDEN OG DERES MEDARBEJDERE <br /><br />LYDKILDE: Navn
        STEMME
      </p>
    </div>
  </div>
</footer>

<style>
  /* style for computer */
  @media (min-width: 800px) {
    .p_footer {
      margin: 0 20%;
      padding-top: 100px;
      text-transform: uppercase;
      color: var(--blueD);
      font-family: Arial, Helvetica, sans-serif;
    }
    .container {
      position: relative;
      width: 100%;
      aspect-ratio: 1512/950;
      background-image: url(img/footer_pc.svg);
      background-size: cover;
      background-position: center;
    }
  }

  /* style for mobil */
  @media (max-width: 800px) {
    .container {
      position: relative;
      width: 100%;
      aspect-ratio: 390/285;
      background-image: url(img/footer_mobil.svg);
      background-size: cover;
      background-position: center;
    }
    .p_footer {
      padding-left: 30px;
      padding-right: 60px;
      padding-top: 30px;
      font-size: 1.8vw;
      text-transform: uppercase;
      color: var(--blueD);
      font-family: Arial, Helvetica, sans-serif;
    }
  }
</style>
