---

---

<footer>
  <div>
    <p class="p_footer">
      TEKST EMILY NIELSEN <br /><br />VISUEL FORMIDLING MIV BERG, MELINA GRAFF,
      LAURA NIELSEN OG EMILY NIELSEN <br /><br />KODE MIV BERG, MELINA GRAFF,
      LAURA NIELSEN OG EMILY NIELSEN <br /><br />REDAKTØR MIV BERG, MELINA
      GRAFF, LAURA NIELSEN OG EMILY NIELSEN <br /><br />UDGIVET 24. April 2024 <br
      /><br />BILLEDKILDER: FOTOS AF LOKATIONER FRA I TRÅD MED VERDEN OG DERES
      MEDARBEJDERE <br /><br />LYDKILDE: Navn STEMME
    </p>
  </div>
  <div>
    <img src="img/garn.png" alt="garn" class="garn" />
  </div>
</footer>

<style>
  .p_footer {
    margin: 0 20%;
    text-transform: uppercase;
  }

  .garn {
    position: absolute;
    width: 100px;
    left: 5%;
  }
</style>
