---

---

<body>
  <div class="container_hero">
    <img src="img/hero.jpg" alt="hero" class="image" />
    <div class="hero_text">
      <h1 class="hero_h1">Socialøkonomi & design</h1>
      <p class="hero_p">
        Vi tager altid udgangspunkt i den enkeltes ressourcer og har fokus på at
        arbejdet skal give succesoplevelser, motivation, glæde og en tro på
        fremtiden.
      </p>
      <img src="img/logo.png" alt="logo" class="logo" />
    </div>
  </div>
</body>

<style>
  .container_hero {
    position: relative;
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
  }
  .logo {
    z-index: 1;
    position: absolute;
    width: 140px;
    left: 83%;
    top: 32%;
  }
  .hero_text {
    position: absolute;
    top: 60%;
    left: 3%;
    color: white;
    font-size: 24px;
    z-index: 1;
  }
  .hero_h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-right: 40rem;
    padding-bottom: 10px;
  }
  .hero_p {
    color: white;
    padding-right: 35rem;
  }
</style>
