---

---

<body>
  <section class="container_hero">
    <div class="hero_text">
      <h1 class="hero_h1">Socialøkonomi &<br /> design</h1>
      <p class="hero_p">
        Vi tager altid udgangspunkt i den enkeltes ressourcer og har fokus på at
        arbejdet skal give succesoplevelser, motivation, glæde og en tro på
        fremtiden.
      </p>
    </div>
    <img src="img/logo.png" alt="logo" class="logo" />
  </section>
</body>

<style>
  /* style for computer */
  @media (min-width: 800px) {
    .container_hero {
      background-image: url(./img/hero.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 1rem;
    }
    .logo {
      z-index: 1;
      width: 140px;
    }
    .hero_text {
      color: white;
      font-size: 24px;
    }
    .hero_h1 {
      font-family: sans-serif;
      text-transform: uppercase;
    }
    .hero_p {
      font-family: sans-serif;
      color: white;
    }
  }

  /* style for mobil */
  @media (max-width: 800px) {
    .container_hero {
      background-image: url(./img/hero_mobil.jpg);
      position: relative;
      width: 100%;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .logo {
      z-index: 1;
      position: absolute;
      width: 100px;
      left: 4%;
      top: 40px;
    }
    .hero_h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 8vw;
      text-transform: uppercase;
      padding-right: 1rem;
      padding-top: 31rem;
    }
    .hero_text {
      position: absolute;
      top: 15%;
      left: 3%;
      color: white;
      padding-right: 20px;
      z-index: 1;
    }
    .hero_p {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-size: 4vw;
      padding-right: 30px;
    }
  }
</style>
