---

---

<body>
  <article id="intro_text">
    <p class="p_text">
      I Tråd Med Verden (ITMV) er en socialøkonomisk virksomhed drevet af
      foreningen I Tråd Med Verden. I partnerskab med KAB driver vi sy- og
      design værksteder i udsatte boligområder, hvor vi arbejder med design og
      genanvendelse af kasserede tekstiler som omdrejningspunkt for at skabe
      jobmuligheder, netværk og livskvalitet for mennesker, som har mistet
      fodfæste på arbejdsmarkedet.
    </p>
    <p class="p_text">
      Formålet er desuden at være en lokal ressource med henblik på at danne
      fællesskaber og generere viden omkring genanvendelse af tekstil. Vores
      arbejde er et lokalt og meget konkret bud på, hvordan man kan arbejde med
      bæredygtighed på tekstilområdet - en dagsorden, som presser sig voldsomt
      på, hvor det er nødvendigt at finde løsninger på de problemer
      tekstilindustrien skaber.
    </p>
    <p class="p_text">
      På værkstederne arbejder syerske i fleksjob eller småjob samt en gruppe
      borgere i virksomhedspraktik. Som medarbejder og praktikant indgår man i
      produktionen og i arbejdsfællesskabet sammen med værkstedernes faste team
      af designere og socialt fagligt personale.
    </p>
    <div>
      <img src="img/vector_snor.png" alt="snor" class="snor" />
    </div>
  </article>
  <div>
    <a href="https://www.itmv.dk/">
      <img src="img/icon.svg" alt="ikon" class="ikon" />
    </a>
    <a href="https://www.instagram.com/itraadmedverden">
      <img src="img/insta.svg" alt="insta" class="insta" />
    </a>
    <a href="https://www.facebook.com/itraadmedverden">
      <img src="img/facebook.svg" alt="facebook" class="fb" />
    </a>
    <a href="https://www.linkedin.com/company/i-tr%C3%A5d-med-verden/">
      <img src="img/linkedin.svg" alt="linkedin" class="linkedin" />
    </a>
  </div>
  <div>
    <img src="img/grafik.png" alt="nål" class="grafik_nål" />
  </div>
</body>

<style>
  #intro_text {
    background-color: lightgrey;
    padding-bottom: 100px;
  }
  .p_text {
    padding-top: 40px;
    margin: 0 34%;
    display: flex;
    justify-content: center;
    font-size: 1.6vw;
  }
  .ikon {
    position: absolute;
    width: 70px;
    z-index: 1;
    left: 90%;
    top: 145%;
    cursor: pointer;
  }
  .insta {
    position: absolute;
    width: 60px;
    z-index: 1;
    left: 90.5%;
    top: 164%;
    cursor: pointer;
  }
  .fb {
    position: absolute;
    width: 60px;
    z-index: 1;
    left: 90.5%;
    top: 182%;
    cursor: pointer;
  }
  .linkedin {
    position: absolute;
    width: 60px;
    z-index: 1;
    left: 90.5%;
    top: 200%;
    cursor: pointer;
  }
  .grafik_nål {
    position: relative;
    width: 130px;
    left: 45%;
  }
  .snor {
    z-index: 0;
    position: absolute;
    top: 125%;
    width: 90%;
  }
</style>
