---

---

<body>
  <div class="container">
    <div class="content">
      <p class="p_text">
        I Tråd Med Verden (ITMV) er en socialøkonomisk virksomhed drevet af
        foreningen I Tråd Med Verden. I partnerskab med KAB driver vi sy- og
        design værksteder i udsatte boligområder, hvor vi arbejder med design og
        genanvendelse af kasserede tekstiler som omdrejningspunkt for at skabe
        jobmuligheder, netværk og livskvalitet for mennesker, som har mistet
        fodfæste på arbejdsmarkedet.
      </p>
      <p class="p_text">
        Formålet er desuden at være en lokal ressource med henblik på at danne
        fællesskaber og generere viden omkring genanvendelse af tekstil. Vores
        arbejde er et lokalt og meget konkret bud på, hvordan man kan arbejde
        med bæredygtighed på tekstilområdet - en dagsorden, som presser sig
        voldsomt på, hvor det er nødvendigt at finde løsninger på de problemer
        tekstilindustrien skaber.
      </p>
      <p class="p_text" id="sidste_text">
        På værkstederne arbejder syerskerne i fleksjob eller småjob samt en
        gruppe borgere i virksomhedspraktik. Som medarbejder og praktikant
        indgår man i produktionen og i arbejdsfællesskabet sammen med
        værkstedernes faste team af designere og socialt fagligt personale.
      </p>
      <div>
        <a href="https://www.itmv.dk/">
          <img src="img/icon.svg" alt="ikon" class="ikon" />
        </a>
        <a href="https://www.instagram.com/itraadmedverden">
          <img src="img/insta.svg" alt="insta" class="insta" />
        </a>
        <a href="https://www.facebook.com/itraadmedverden">
          <img src="img/facebook.svg" alt="facebook" class="fb" />
        </a>
        <a href="https://www.linkedin.com/company/i-tr%C3%A5d-med-verden/">
          <img src="img/linkedin.svg" alt="linkedin" class="linkedin" />
        </a>
      </div>
    </div>
  </div>
</body>

<style>
  /* style for pc */
  @media (min-width: 800px) {
    .container {
      position: relative;
      width: 100%;
      aspect-ratio: 1512/1371;
      background-image: url("img/baggrund_pc.svg");
      background-size: cover;
      background-position: center;
    }

    .p_text {
      padding-top: 60px;
      background-color: var(--grey);
      margin: 0 34%;
      display: flex;
      justify-content: center;
      font-size: 1.6vw;
      text-align: justify;
      color: var(--blueD);
    }

    .ikon {
      position: absolute;
      width: 70px;
      z-index: 1;
      left: 90%;
      top: 10%;
      cursor: pointer;
    }
    .insta {
      position: absolute;
      width: 60px;
      z-index: 1;
      left: 90.5%;
      top: 18%;
      cursor: pointer;
    }
    .fb {
      position: absolute;
      width: 60px;
      z-index: 1;
      left: 90.5%;
      top: 26%;
      cursor: pointer;
    }
    .linkedin {
      position: absolute;
      width: 60px;
      z-index: 1;
      left: 90.5%;
      top: 34%;
      cursor: pointer;
    }
  }

  /* style for mobil */
  @media (max-width: 800px) {
    .container {
      position: relative;
      width: 100%;
      aspect-ratio: 390/982;
      background-image: url("img/baggrund_mobil.svg");
      background-size: cover;
      background-position: center;
    }
    .p_text {
      padding-top: 60px;
      background-color: var(--grey);
      margin: 0 21%;
      display: flex;
      justify-content: center;
      font-size: 4vw;
      text-align: justify;
      color: var(--blueD);
    }
    #sidste_text {
      background-color: transparent;
      padding-top: 94px;
    }
    .ikon {
      position: absolute;
      width: 35px;
      z-index: 1;
      left: 87%;
      top: 8%;
      cursor: pointer;
    }
    .insta {
      position: absolute;
      width: 30px;
      z-index: 1;
      left: 87%;
      top: 15%;
      cursor: pointer;
    }
    .fb {
      position: absolute;
      width: 30px;
      z-index: 1;
      left: 87%;
      top: 22%;
      cursor: pointer;
    }
    .linkedin {
      position: absolute;
      width: 30px;
      z-index: 1;
      left: 87%;
      top: 29%;
      cursor: pointer;
    }
  }
</style>
