---

---

<article id="intro_text">
  <p class="text">
    I Tråd Med Verden (ITMV) er en socialøkonomisk virksomhed drevet af
    foreningen I Tråd Med Verden. I partnerskab med KAB driver vi sy- og design
    værksteder i udsatte boligområder, hvor vi arbejder med design og
    genanvendelse af kasserede tekstiler som omdrejningspunkt for at skabe
    jobmuligheder, netværk og livskvalitet for mennesker, som har mistet
    fodfæste på arbejdsmarkedet.
  </p>
  <p class="text">
    Formålet er desuden at være en lokal ressource med henblik på at danne
    fællesskaber og generere viden omkring genanvendelse af tekstil. Vores
    arbejde er et lokalt og meget konkret bud på, hvordan man kan arbejde med
    bæredygtighed på tekstilområdet - en dagsorden, som presser sig voldsomt på,
    hvor det er nødvendigt at finde løsninger på de problemer tekstilindustrien
    skaber.
  </p>
  <p class="text">
    På værkstederne arbejder syerske i fleksjob eller småjob samt en gruppe
    borgere i virksomhedspraktik. Som medarbejder og praktikant indgår man i
    produktionen og i arbejdsfællesskabet sammen med værkstedernes faste team af
    designere og socialt fagligt personale.
  </p>
</article>

<style>
  #intro_text {
    background-color: lightgrey;
  }
</style>
