---
import "../css/process.css"
import "../css/main.css"
---

<body>
    
    <header>
        <h1>Scroll Indicator Simple</h1>
        <p>A simple scroll indicator in JavaScript</p>
    </header>
    <div class="scroll_container">
        <div class="scroll_indicator"></div>
    </div>
</body>


<script>window.addEventListener("scroll", onScroll);

    function onScroll() {
        var scrolled = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolledfactor = (scrolled / height) * 100;
        document.querySelector(".scroll_indicator").style.width = `${scrolledfactor}%`;
    }</script>