---
import "../css/steps.css"
---

<div id="step_screen">
        <div id="step_background">
            <div id="step_container">
                <div id="step_sprite"></div>
            </div>
        </div>
    </div>
<div class="parallax"></div>
<div id="about">
        <div id="about_background"></div>
        <div id="about_elements">
            <div id="text">
                <p>Vores produkter skal igennem 3 forskellige hold. Det er syholdet, brodereholdet og plantefarveholdet.
Det første trin er syholdet. Det første trin i vores proces med at give brugte tekstiler nyt liv er at indsamle og sortere de brugte tekstiler. Vi undersøger dem for at vurdere deres tilstand og egnethed til genbrug. Derefter skal der sys og omformes for at tekstilerne kan genoplives til nye produkter. Det kan omfatte at sy patchwork tæpper, oprette nye designs eller endda at lave en frakke om til accessories som tasker eller puder.</p>
            </div>
        </div>
    </div>
<div class="parallax2"></div>
<div id="about2">
        <div id="about_background2">
        </div>
        <div id="about_elements">
            <div id="text" class="colour">
                <p>Det næste skridt er at brodere. Efter syningen føres det nye produkt videre til vores broderehold. De er med til at tilføje dekorationer og broderier til tøjet. Det giver tøjet et helt nyt liv og personlighed, og det ser også trendy ud!
Først udvikler de et klart designkoncept eller mønster for broderiet. Dette kan være en skitse på papir.
Derefter overfører vi designet til tekstilet ved hjælp af forskellige metoder. Der er f.eks. frihåndsbroderi, hvor brodereren følgerdesignet frit uden nogen form for mønster eller skabelon. ellers kan designet overføres vha. kridt eller en broderiramme.</p>
            </div>
        </div>
    </div>
<div class="parallax3"></div>
<div id="about3">
        <div id="about_background3">
        </div>
        <div id="about_elements">
            <div id="text">
                <p style="background-color: white; padding: 10px;">Det sidste vi gør er at farve det nye produkt vha. plantefarvning. Det er en i høj grad bæredygtig måde at farve tøj på, da farverne kommer fra naturlige kilder som planter, blomster eller bark, hvilket reducerer miljøpåvirkningen i forhold til syntetiske farvestoffer.
Før plantefarvning skal tekstilerne forberedes korrekt. Dette indebærer normalt at vaske tekstilerne for at fjerne snavs, støv og eventuelle resterende kemikalier. Det sikrer også, at farven binder sig bedre til stoffet.
For at få farven ud af planten, kan man male, koge eller blødgøre den. Derefter filtrerer vi farven og fortynder den alt efter behov.
Derefter nedsænkes tekstilerne eller placeres i en varm farvebad. Tekstilerne skal omrøres regelmæssigt for at sikre, at farven fordeler sig jævnt. Farvningsprocessen kan tage flere timer.</p>
            </div>
        </div>
    </div>

<div class="parallax4"></div>
<div id="text">
<p style="background-color: white; padding: 10px;"> 
    Du kan shoppe det og mange andre unikke dele inde på I Tråd Med Verden's webshop lige her:
 <a href="https://www.itmv.dk/collections/all" target="_blank">https://www.itmv.dk/collections/all</a>
</div>